body{
    font-family: 'Cutive Mono', monospace;
}

a{
    color: gray;
}

.list-group-item{
    font-size: 2.5vh;
    border-radius: 0.5vh;
}

.links{
    background-color: white;
    opacity: 0.9;
    border-radius: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
}